<article class="one_fourth">
  Welcome back <%= current_user.username %>
  <br>
  <%= link_to "Play Computer", create_computer_match_path, method: :post, class: 'vsComputer' %>
  <br>
  <%= link_to "Play Admin", create_player_match_path, method: :post, class: 'vsComputer' %>

  <br>
  <%= link_to "Two Player", new_match_path, class: 'vsComputer' %>

</article>
<article id="adminInfo" class="three_fourth">

  <hr>
  <h2>Sign Ups</h2>

  <div class="chart" id="signupsPerDay"></div>
  <div class="chart" id="signupsPerWeek"></div>
  <hr>

  <h2>Logins</h2>

  <div class="chart" id="loginsPerDay"></div>
  <div class="chart" id="loginsPerWeek"></div>
  <hr>

  <h2>Games Started</h2>

  <div class="chart" id="gamesStartedPerDay"></div>
  <div class="chart" id="gamesStartedPerWeek"></div>
  <hr>


  <h2>Games Finished</h2>

  <div class="chart" id="gamesFinishedPerDay"></div>
  <div class="chart" id="gamesFinishedPerWeek"></div>
  <hr>

</article>

<div style="text-align: center">
  <h3>Matches</h3><hr>

  <article class="one_half">
    Total matches <br>
  </article>
  <article class="one_half">
    PvP matches <br>
    <%= @pvp_matches.length %>
  </article>
  <br><br><hr>
  <article class="one_fourth">
    Finished matches <br>
    <%= @finished_matches.length %>
  </article>
  <article class="one_fourth">
    In progress matches<br>
    <%= @in_progress_matches.length %>
  </article>
  <article class="one_fourth">
    New matches <br>
    <%= @new_matches.length %>
  </article>
  <article class="one_fourth">
    Pending matches <br>
    <%= @pending_matches.length %>
  </article>

  <hr>
  <h3>Users</h3>
  <hr>
  <article class="one_half">
    Sign ups <br>
  </article>
  <article class="one_half">
    Sign ups <br>
  </article>
</div>

<%= render 'admin/users_index' %>
<%= render 'admin/matches_index' %>

