<td><%= match.id %></td>
<td><%= match.turn %></td>
<td><%= link_to 'Show', match_path(match) %></td>
<td><%= match.home_user_id %></td>
<td><%= match.away_user_id %></td>
<td><%= link_to 'Edit', edit_match_path(match) %></td>
<td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>