<article class="one_fourth">
  Welcome back <%= current_user.username %>
  <br>
  <%= link_to "Play Computer", create_computer_match_path, method: :post, class: 'vsComputer' %>
  <br>
  <%= link_to "Two Player", new_match_path, class: 'vsComputer' %>

</article>
<article class="three_fourth">

  <h1>Games</h1>

  <table>
    <thead>
    <tr>
      <th>Index</th>
      <th>Status</th>
      <th>Turn</th>
      <th>Opponent</th>
      <th>Quit</th>
    </tr>
    </thead>
    <tbody>
    <% @matches.each_with_index do |match, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td>
            <% if (match.turn == 0) %>
                <%= link_to '1New Game', match_path(match) %>
            <% elsif (match.who_started == 1) %>

                <% if (match.turn%2 == 1) %>
                    <%= link_to '2Your Turn', match_path(match) %>
                <% else %>
                    <%= link_to '3There Turn', match_path(match) %>
                <% end %>

            <% else %>

                <% if (match.turn%2 == 1) %>
                    <%= link_to '4There Turn', match_path(match) %>
                <% else %>
                    <%= link_to '5Your Turn', match_path(match) %>
                <% end %>

            <% end %>
          </td>
          <td><%= link_to match.turn %></td>
          <td><%= User.find(match.away_user_id).username %></td>
          <td><%= link_to 'Resign', match, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

</article>