<article id="userColumn" class="one_fourth">
  <!--<div class="adminMessage borderRadius6"><h5>Hi everyone, we are trying out our new in-game updating system!</h5><h6>This means you do not need to refresh the page to see your opponent's move or messages.(comment's very welcome)</h6></div>-->
  <!--<div class="adminMessage borderRadius6"><h5>Hi everyone, we are having an issue with the computers AI, this will be fixed asap!</h5></div>-->
  <!--<div class="adminMessage borderRadius6"><h5>Play Computer, has now been fixed :)</h5></div>-->
  <!--<a style="color: white" href="/new_rules"><div class="adminMessage borderRadius6"><h5>Rules update: </h5><h6>We are updating the cyvasse.io rules on April 14th. View the updates by <%= link_to 'click here', '/new_rules' %></h6></div></a>-->
  <a style="color: white" href="/new_rules"><div class="adminMessage borderRadius6"><h5>Rules updated: </h5><h6>There have been changes to the rules, check them out <%= link_to 'here', '/new_rules' %></h6></div></a>

  <%= render 'home/dashboard/userColumn' %>

</article>

<article id="gameIndex" class="three_fourth">

  <div id="messageDock">
    <div class="flashSuccess"><h5><%= flash[:success] %></h5></div>
    <div class="flashError"><h5><%= flash[:error] %></h5></div>
  </div>

  <dl>
    <% if current_user.show_extra_info %>
        <dt class="startOpen">Information</dt>
    <% else %>
        <dt class="startClose">Information</dt>
    <% end %>
    <dd>
      <article class="communityInfo">
        <%= render 'home/dashboard/communityInfo' %>
      </article>
    </dd>
  </dl>

  <div class="gamesTitle">
    <h1>Games</h1><h5><a href="/message_board">Message Board</a></h5>
  </div>

  <div id="matchesTable">
    <%= render 'home/dashboard/activeGames' %>
  </div>
</article>

<div id=metaInfo>
  <a id="accountType"><%= current_user.account_type %></a>
</div>