<article id="userColumn" class="one_fourth">
  <!--<div class="adminMessage borderRadius6"><h5>Hi everyone, we are trying out our new in-game updating system!</h5><h6>This means you do not need to refresh the page to see your opponent's move or messages.(comment's very welcome)</h6></div>-->
  <div class="adminMessage borderRadius6"><h5>Hi everyone, we are having an issue with the computers AI, this will be fixed asap!</h5></div>

  <%= render 'home/dashboard/userColumn' %>

</article>

<article id="gameIndex" class="three_fourth">

  <div id="messageDock">
    <div class="flashSuccess"><h5><%= flash[:success] %></h5></div>
    <div class="flashError"><h5><%= flash[:error] %></h5></div>
  </div>

  <dl>
    <% if current_user.show_extra_info %>
        <dt class="startOpen">Information</dt>
    <% else %>
        <dt class="startClose">Information</dt>
    <% end %>
    <dd>
      <article class="communityInfo">
        <%= render 'home/dashboard/communityInfo' %>
      </article>
    </dd>
  </dl>

  <h1>Games</h1>

  <div id="matchesTable">
    <%= render 'home/dashboard/activeGames' %>
  </div>
</article>

<div id=metaInfo>
  <a id="accountType"><%= current_user.account_type %></a>
</div>