<article class="full_column">
<h3>About</h3>
<p>Cyvasse is a two player, turn based, game with the objective of
  capturing your opponent’s king. The game is played on a checkered
  hexagon grid, and the initial position of the pieces are
  determined by each of the players.</p>

<h3>Pre Game</h3>
<p>Before each player can start placing their pieces on the board, a
  curtain is placed in the middle to prevent each player from seen
  their opponent’s opening array.

  Once the curtain is drawn, each player places their 20 pieces on
  the board with the quantities specified below. Each square of the
  board may only hold only one unit at a time.

  Once the two players are satisfied with the arrangements of their
  units, the curtain is removed and the game can begin.
</p>

<h3>Beginning the Game</h3>
<p>First turn goes to the player whose King is closest to the middle
  row of the board. In the case of a tie, the white army gets to move
  first, then players alternate moves. A move and/or combat must be
  made each turn, and units may not move through other pieces. The
  exception to this rule is the Dragon which may move over Mountains
  and friendly pieces, but not through foes.
</p>

<h3>Moving</h3>
<p>All Units have a Movement attribute which explains how they may
  traverse the board based on two components, a magnitude and direction.
  The magnitude of a unit’s movement explains how many jumps it can per
  in one turn. There are two kinds of directions a unit can move,
  Orthogonal and Diagonal movement (Explained below).
</p>

<h3>Combat</h3>
<p>With the exemption of the Range units, a combat is made by moving to the
  square occupied by an opponents piece. Range units must instead choose
  to attack or move, but may not perform both actions in one turn.</p>

<p>A combat is performed by a minimum of two pieces, an Attacker and a Defender,
  but also may include a Flanker. The Attacker is the unit initiating the
  combat, the Defender is the unit being attacked. Lastly the Flanker is a
  piece which increases the Strength of the Attacker if it is adjacent to the
  Attacker and Defender before combat begins, and shares a Class with the
  Attacker, e.g. Light Horse is part of the Cavalry, while Spearman is part of
  the Vanguard, so a Spearman may not help the Light Horse flank a Defender.</p>

<p>When the Attacker attacks a Defender, the Strength of the Defender is compared
  to the Strength of the Attacker plus the Flank of the Flanker, and the piece
  with the higher Strength wins. In the case of a tie, the Attacker wins. The
  exemption to this rule is a Trump, for example, a Spearman will always defeat a
  Heavy Horse piece, because a Spearman trumps Heavy Horse pieces, even though the
  Heavy Horse has more Strength then the Spearman.</p>

<p>Range units may attack a enemy within its Range, unless a Mountain blocks the
  direct path between the Range unit and it’s target.</p>

If the Attacker defeats the Defender, the Attacker takes the place of the
defeated Defender, unless the Attacker was a Range unit.
</p>

<h3>Winning</h3>
<p>
  A player wins by destroying their opponent’s king.
</p>

<h3>Units</h3>
<h5>Attributes</h5>
<p>
  There are 10 military pieces which each player uses in their army. Each piece
  has unique set of Attributes which they use to interact with the map and enemy
  units. Below is a description of all of the units and their attributes.
</p>

<!---------------------------Class info--------------------------->
<h5>Classes</h5>
<h6 class="class_title"><%= "="*43%>Vanguard<%= "="*43%></h6>
<div class="about_unit">
  <% @vangaurd.each do |unit_class| %>

      <img class="about_unit_image" src="assets/pieces/<%= unit_class[:name].downcase %>.png">
      <article class="about_unit_description">
        <h6><%= unit_class[:name] %></h6>
        <p><small>
          Movement: <%= unit_class[:movement] %><br>
          Strength: <%= unit_class[:strength] %><br>
          Flank: <%= unit_class[:flank] %><br>
          Trump:
            <% if unit_class[:trump] != nil %>
                <% unit_class[:trump].each do |trump| %>

                  <% if (trump == unit_class[:trump].last) && (unit_class[:trump].length != 1) %>
                        and <%= trump %>
                    <% elsif unit_class[:trump].length != 1%>
                        <%= trump %>,
                    <% else%>
                      <%= trump %>
                    <% end %>
              <% end %>
            <% else %>
                --
            <% end %>
        </small></p>
      </article>
  <% end %>
</div>
<hr>

<h6 class="class_title"><%= "="*43%>Cavalry<%= "="*43%></h6>
<div class="about_unit">

  <% @cavalry.each do |unit_class| %>

      <img class="about_unit_image cavalry" src="assets/pieces/<%= unit_class[:name].downcase %>.png">
      <article class="about_unit_description">
        <h6><%= unit_class[:name] %></h6>
        <p><small>
          Movement: <%= unit_class[:movement] %><br>
          Strength: <%= unit_class[:strength] %><br>
          Flank: <%= unit_class[:flank] %><br>
          Trump:
          <% if unit_class[:trump] != nil %>
              <% unit_class[:trump].each do |trump| %>

                  <% if (trump == unit_class[:trump].last) && (unit_class[:trump].length != 1) %>
                      and <%= trump %>
                  <% elsif unit_class[:trump].length != 1%>
                      <%= trump %>,
                  <% else%>
                      <%= trump %>
                  <% end %>
              <% end %>
          <% else %>
              --
          <% end %>
        </small></p>
      </article>
  <% end %>
</div>

<hr>
<h6 class="class_title"><%= "="*43%>Range<%= "="*43%></h6>
<div class="about_unit">

  <% @range.each do |unit_class| %>

      <img class="about_unit_image" src="assets/pieces/<%= unit_class[:name].downcase %>.png">
      <article class="about_unit_description">
        <h6><%= unit_class[:name] %></h6>
        <p><small>
          Movement: <%= unit_class[:movement] %><br>
          Strength: <%= unit_class[:strength] %><br>
          Range: <%= unit_class[:range] %><br>
          Trump:
          <% if unit_class[:trump] != nil %>
              <% unit_class[:trump].each do |trump| %>
                  <% if (trump == unit_class[:trump].last) && (unit_class[:trump].length != 1) %>
                      and <%= trump %>
                  <% elsif unit_class[:trump].length != 1%>
                      <%= trump %>,
                  <% else%>
                      <%= trump %>
                  <% end %>
              <% end %>
          <% else %>
              --
          <% end %>
        </small></p>
      </article>
  <% end %>
</div>

<hr>
<h6 class="class_title"><%= "="*43%>Unique<%= "="*43%></h6>
<div class="about_unit">

  <% @unique.each do |unit_class| %>

      <img class="about_unit_image" src="assets/pieces/<%= unit_class[:name].downcase %>.png">
      <article class="about_unit_description">
        <h6><%= unit_class[:name] %></h6>
        <p><small>
          Movement: <%= unit_class[:movement] %><br>
          Strength: <%= unit_class[:strength] %><br>
          Flank: <%= unit_class[:flank] %><br>
          Trump:
          <% if unit_class[:trump] != nil %>
              <% unit_class[:trump].each do |trump| %>

                  <% if (trump == unit_class[:trump].last) && (unit_class[:trump].length != 1) %>
                      and <%= trump %>
                  <% elsif unit_class[:trump].length != 1%>
                      <%= trump %>,
                  <% else%>
                      <%= trump %>
                  <% end %>
              <% end %>
          <% else %>
              --
          <% end %>
        </small></p>
      </article>
  <% end %>

</div>
</article>