<h1>Listing matches</h1>

<table>
  <thead>
    <tr>
      <th>Game status</th>
      <th>User</th>
      <th>Challenger</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.game_status_id %></td>
        <td><%= match.user_id %></td>
        <td><%= match.challenger_id %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h1>Robot</h1>

<br>
<br>
<br>

<%= link_to 'New Match', new_match_path %>

<svg class="robot" xmlns="http://www.w3.org/2000/svg">
  <rect height="60" width="100" rx="10" ry="10" fill="#B32317" />
  <circle cx="26" cy="26" r="10" fill="white"></circle>
  <circle cx="74" cy="26" r="10" fill="white"></circle>
  <circle cx="26" cy="26" r="7" fill="#B32317"></circle>
  <circle cx="74" cy="26" r="7" fill="#B32317"></circle>
</svg>