<h1>Listing matches</h1>

<table>
  <thead>
    <tr>
      <th>Game status</th>
      <th>User</th>
      <th>Challenger</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.game_status_id %></td>
        <td><%= match.user_id %></td>
        <td><%= match.challenger_id %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= image_tag "old/firstsvg.svg" %>

<%= link_to 'New Match', new_match_path %>
