<article class="one_fourth">

  <% @challengers.each do |challenger| %>
      <%= challenger.username %>
      <br>
  <% end %>

</article>

<article class="one_half">
  <h1>New match</h1>

  <%= form_for(@match) do |f| %>
      <% if @match.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

            <ul>
              <% @match.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="radio">
        <article>
          <%= f.radio_button(:match_against, 'computer') %>
          <%= f.label(:match_against, 'Play Computer') %>
        </article>
        <article>
          <%= f.radio_button(:match_against, 'human') %>
          <%= f.label(:match_against, 'Play Human') %>
        </article>
      </div>

      <div class="submit">
        <%= f.submit %>
      </div>
  <% end %>


  <%= link_to 'Back', matches_path %>

</article>
<article class="one_fourth"></article>
