
<div id="matchShow">
  <article class="three_fourth">
    <div id="match"></div>
  </article>
  <article id="matchInfo" class="one_fourth">
    <div class="matchUp">
      <article class="userr" id="youInfo">
        <div class="avatar">
          <%= link_to image_tag(current_user.image_url), user_path(current_user) %>
        </div>
        <div class="username">
          <h5><%= current_user.first_name_or_username(current_user) %></h5>
        </div>
      </article>

      <article class="userr" id="opponentInfo">
        <div class="avatar">
          <%= link_to image_tag(enemy_user.image_url), user_path(enemy_user) %>
        </div>
        <div class="username">
          <h5><%= enemy_user.first_name_or_username(enemy_user) %></h5>
        </div>
      </article>

    </div>
    <div class="unitStats">

      <div class="nameOfSelectedUnit hideSelectedUnitInfo">
        <h3 id="selectUnitName">Crossbowman</h3>
      </div>


      <article class="selectUnitImage hideSelectedUnitInfo">
        <%= image_tag "", :class => "selectedUnitImage", :id => 'selectedUnitImage' %>
      </article>

      <article class="selectUnitStats hideSelectedUnitInfo">

        <div id="selectUnitClass" class="selectUnitStat">
          <h5 class="key">Class</h5>
          <hr>
          <h6 class="value">5</h6>
        </div>

        <div id="selectUnitStrength" class="selectUnitStat">
          <p class="key">Strength</p>
          <hr>
          <h6 class="value">5</h6>
        </div>

        <div id="selectUnitMoveRange" class="selectUnitStat">

          <p class="key">Movement</p>
          <hr>
          <h6 class="value">5</h6>
        </div>

        <div id="selectUnitUtility" class="selectUnitStat">
          <p class="key">Flank</p>
          <hr>
          <h6 class="value">5</h6>
        </div>

        <div id="selectUnitTrump" class="selectUnitStat">
          <p class="key">Trump</p>
          <hr>
          <article class="value"></article>
        </div>


      </article>


    </div>
    <div class="toggleOptions">
      <h4>Toggle</h4>
      <button id="toggleRules">Rules</button>
      <button id="toggleOutline">Outlines</button>
      <button id="toggleHoverInfo">Hover Info</button>
    </div>

  </article>
</div>
<div id=metaInfo>
  <article class="one_fourth">
    <% if @match.created_at - current_user.created_at < 4 %>
        <a id="firstGame"><%= true %></a>
    <% else %>
        <a id="firstGame"><%= false %></a>
    <% end %>

    <a id="whosTurn"><%= @match.whos_turn %></a>
    <a id="currentUserID"><%= current_user.id %></a>
    <a id="homeID"><%= @match.home_user_id %></a>
    <a id="awayID"><%= @match.away_user_id %></a>

    <a id="homeReady"><%= @match.home_ready %></a>
    <a id="awayReady"><%= @match.away_ready %></a>

    <a id="matchID"><%= @match.id %></a>
    <a id="matchTurn"><%= @match.turn %></a>
    <a id="matchWhosTurn"><%= @match.whos_turn %></a>
    <a id="matchAgainst"><%= @match.match_against %></a>
    <a id="matchWhoStarted"><%= @match.who_started %></a>
    <a id="matchStatus"><%= @match.match_status %></a>

    <a id="matchLastMove"><%= @match.last_move %></a>
    <a id="matchUtilMove"><%= @match.utility_saved_hex %></a>

    <a id="togglePreference"><%= current_user.unit_outlines %></a>

    <% current_user.setups.each do |setup| %>
        <a id="setup<%= setup.button_position %>" data-id=<%= setup.id %> data-name='<%= setup.name %>' data-unitPosition=<%= setup.units_position %>></a>
    <% end %>

  </article>
  <article class="full_column">
    <a id="homeUnitsPos"><%= @match.home_units_position %></a>
    <a id="awayUnitsPos"><%= @match.away_units_position %></a>
  </article>
</div>