
<p id="notice"><%= notice %></p>
<article class="full_column">

  <!--Match Header-->
  <p>
    <strong>Game status:</strong>
    <%= @match.game_status_id %> |

    <strong>User ID:</strong>
    <%= @match.user_id %> |

    <strong>Challenger ID:</strong>
    <%= @match.challenger_id %> |

    <%= link_to 'Edit', edit_match_path(@match) %> |
    <%= link_to 'Back', matches_path %>
  </p>

  <!--Robot SVG-->
  <% robot = "<svg class='robot' xmlns='http://www.w3.org/2000/svg'>
  <rect height='20' width='40' rx='3' ry='3' fill='#B32317' />
  <circle cx='10' cy='10' r='5' fill='white'></circle>
  <circle cx='30' cy='10' r='5' fill='white'></circle>
  <circle cx='10' cy='10' r='2' fill='#B32317'></circle>
  <circle cx='30' cy='10' r='2' fill='#B32317'></circle>
</svg>" %>
<p>
  <strong>Match <%= robot.html_safe %></strong>
  <strong class="turnKeeper" data-turn="1">Turn</strong>
</p>
</article>


<div class="match">
  <article class="info">
    <div class="selectedPieceInformation">
      <h3 id="selectedUnitName"></h3>
      <%= image_tag "", :id => 'selectedUnitImage' %>
      <h6 id="selectedStrength" class="selectedAttributes"></h6>
      <h6 id="selectedMovement" class="selectedAttributes"></h6>
      <h6 id="selectedFlank" class="selectedAttributes"></h6>
      <h6 id="selected"></h6>
    </div>

    <div class="auxSpace">
      <% @units.each do |branch|%>
        <% branch.each do |unit| %>
          <%= unit.html_safe%>
          <% end%>
      <% end%>

    </div>
  </article>

  <article class="map">

    <% y_pos = 1 %>

    <% @map.each do |row| %>
        <div class="grid" data-y-pos=<%= y_pos %>>
          <% row.each do |square| %>
              <%= square.html_safe %>
          <% end %>
        </div>
        <% y_pos += 1 %>
    <% end %>

    <!--<div id="placeUnits"></div>-->

  </article>
</div>