<div class="match">
  <div class="info">
    <article class="p1 infoSegment hasBorder">

      <div class="nameOfSelectedUnit hideSelectedUnitInfo">
        <h5 id="selectUnitName">Crossbowman</h5>
      </div>


      <article class="selectUnitImage hideSelectedUnitInfo">
        <%= image_tag "", :class => "selectedUnitImage", :id => 'selectedUnitImage' %>
      </article>

      <article class="selectUnitStats hideSelectedUnitInfo">

        <div id="selectUnitClass" class="selectUnitStat" >
        <h5 class="key">Class</h5>
        <hr>
        <h6 class="value">5</h6>
        </div>

        <div id="selectUnitStrength" class="selectUnitStat" >
          <p class="key">Strength</p>
          <hr>
          <h6 class="value">5</h6>
        </div>

        <!--<div id="selectUnitStrength">-->
          <!--<p id="selectedUnitStat">Strength</p>-->
          <!--<hr>-->
          <!--<p class="selectedUnitAttack" id="selectedUnitStat">5</p>-->
        <!--</div>-->

        <div id="selectUnitMoveRange" class="selectUnitStat">

          <p class="key">Movement</p>
          <hr>
          <h6 class="value">5</h6>
        </div>

        <div id="selectUnitUtility" class="selectUnitStat">
          <p class="key">Flank</p>
          <hr>
          <h6 class="value">5</h6>
        </div>

        <div id="selectUnitTrump" class="selectUnitStat">
          <p class="key">Trump</p>
          <hr>
          <article class="value"></article>
        </div>



      </article>


    </article>

    <article class="p2 infoSegment">

      <div class="matchUp hasBorder">

        <h2>Alex</h2>
        <h5>vs.</h5>

        <h2>Tyrion</h2>

      </div>

      <div class="hoveredUnit hasBorder">
        <article class="hoverImage hideHoveredUnitInfo">
          <%= image_tag "", :id => 'hoverUnitImage' %>
        </article>
        <article class="hoverStats">
          <div id="hoverName" class="hoverStat hideHoveredUnitInfo"><p>Crossbowman</p></div>

          <div id="hoverOffense" class="hoverStat hideHoveredUnitInfo"><p>Attack: 4</p></div>

          <div id="hoverUtility" class="hoverStat hideHoveredUnitInfo"><p>Flank: 2</p></div>
          <div id="hoverTrump" class="hoverStat hideHoveredUnitInfo"><p></p></div>

          <div id="hoverMvRange" class="hoverStat hideHoveredUnitInfo"><p>Moves: ∞</p></div>



        </article>
        <article class="comparisonColumn comp">

          <p id="hoverName" class="hoverStat">.</p>

          <p id="hoverOffense" class="hoverStat">=</p>

          <p id="hoverDefence" class="hoverStat"> s4 > a3</p>

          <p id="hoverMvRange" class="hoverStat">=</p>

          <p id="hoverUtRange" class="hoverStat">=</p>
        </article>

        <article class="selectedUnitCompStats comp hideSelectedUnitInfo">
          <%= image_tag "", :class => "selectedUnitImage", :id => 'selectedCompImage' %>


          <p id="hoverOffense" class="hoverStat selectedUnitAttack">2</p>

          <p id="hoverDefence" class="hoverStat selectedUnitDefence">4</p>

          <p id="hoverMvRange" class="hoverStat selectedUnitMovement">6</p>

          <p id="hoverUtRange" class="hoverStat selectedUnitUtility">3</p>
        </article>

        <article class="selectedUnitCompKey comp hideSelectedUnitInfo">

          <p id="hoverName" class="hoverStat">trb</p>

          <p id="hoverOffense" class="hoverStat">Atk</p>

          <p id="hoverDefence" class="hoverStat">Def</p>

          <p id="hoverMvRange" class="hoverStat">Mov</p>

          <p id="hoverUtRange" class="hoverStat">Rng</p>
        </article>
      </div>

    </article>


    <article class="p3 infoSegment hasBorder">
      <div class="extraSpace">
        <p id="notice"><%= notice %></p>
        <article class="matchHeading">
          Match Header
          <p>
            <strong>User ID:</strong>
            <%= @match.user_id %> |
            <strong>Challenger ID:</strong>
            <%= @match.challenger_id %> |
            <%= link_to 'Edit', edit_match_path(@match) %> |
            <%= link_to 'Back', matches_path %>
          </p>
        </article>
      </div>
    </article>
  </div>

</div>

