<p id="notice"><%= notice %></p>
<article class="matchHeading">


  <!--Match Header-->
  <p>
    <strong>Game status:</strong>
    <%= @match.game_status_id %> |

    <strong>User ID:</strong>
    <%= @match.user_id %> |

    <strong>Challenger ID:</strong>
    <%= @match.challenger_id %> |

    <%= link_to 'Edit', edit_match_path(@match) %> |
    <%= link_to 'Back', matches_path %>

  </p>

</article>


<div class="match">
  <article class="info">
    <div class="selectedPieceInformation">
      <h3 id="selectedUnitName"></h3>
      <%= image_tag "", :id => 'selectedUnitImage' %>
      <h6 id="selectedMovement" class="selectedAttributes"></h6>
      <h6 id="selectedStrength" class="selectedAttributes"></h6>
      <h6 id="selectedRange" class="selectedAttributes"></h6>
      <h6 id="selectedFlank" class="selectedAttributes"></h6>
      <h6 id="selected"></h6>
    </div>

    <div class="graveyard">

    </div>

    <% count = 8 %>
    <div class="auxSpace">


    </div>

  </article>

  <article class="map">


  </article>
</div>

