<p id="notice"><%= notice %></p>

<h1>Scott</h1>
<p>
  <strong>Game status:</strong>
  <%= @match.game_status_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @match.user_id %>
</p>

<p>
  <strong>Challenger:</strong>
  <%= @match.challenger_id %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>

<h1>Match</h1>


<h1>Top</h1>
<div class='grid'>
  <div class="grid_even">
    <article class="grid_square">
      <div class='hex'>
        <div class='top'></div>
        <div class='square'></div>
        <div class='bottom'></div>
      </div>
    </article>
    <article class="grid_square">
      <div class='hex'>
        <div class='top'></div>
        <div class='square'></div>
        <div class='bottom'></div>
      </div>
    </article>
    <article class="grid_square">
      <div class='hex'>
        <div class='top'></div>
        <div class='square'></div>
        <div class='bottom'></div>
      </div>
    </article>
    <article class="grid_square">
      <div class='hex'>
        <div class='top'></div>
        <div class='square'></div>
        <div class='bottom'></div>
      </div>
    </article>
    <article class="grid_square">
      <div class='hex'>
        <div class='top'></div>
        <div class='square'></div>
        <div class='bottom'></div>
      </div>
    </article>
    <article class="grid_square">
      <div class='hex'>
        <div class='top'></div>
        <div class='square'></div>
        <div class='bottom'></div>
      </div>
    </article>
  </div>
</div>
<div class='grid'>
  <article class="grid_square">
    <div class='hex'>
      <div class='top'></div>
      <div class='square'></div>
      <div class='bottom'></div>
    </div>
  </article>
  <article class="grid_square">
    <div class='hex'>
      <div class='top'></div>
      <div class='square'></div>
      <div class='bottom'></div>
    </div>
  </article>

  <article class="grid_square">
    <div class='hex'>
      <div class='top'></div>
      <div class='square'></div>
      <div class='bottom'></div>
    </div>
  </article>
  <article class="grid_square">
    <div class='hex'>
      <div class='top'></div>
      <div class='square'></div>
      <div class='bottom'></div>
    </div>
  </article>
  <article class="grid_square">
    <div class='hex'>
      <div class='top'></div>
      <div class='square'></div>
      <div class='bottom'></div>
    </div>
  </article>
  <article class="grid_square">
    <div class='hex'>
      <div class='top'></div>
      <div class='square'></div>
      <div class='bottom'></div>
    </div>
  </article>
  <article class="grid_square">
    <div class='hex'>
      <div class='top'></div>
      <div class='square'></div>
      <div class='bottom'></div>
    </div>
  </article>
</div>
<div class='grid'>
  <div class="grid_even">
    <article class="grid_square">
      <div class='hex'>
        <div class='top'></div>
        <div class='square'></div>
        <div class='bottom'></div>
      </div>
    </article>
    <article class="grid_square">
      <div class='hex'>
        <div class='top'></div>
        <div class='square'></div>
        <div class='bottom'></div>
      </div>
    </article>
    <article class="grid_square">
      <div class='hex'>
        <div class='top'></div>
        <div class='square'></div>
        <div class='bottom'></div>
      </div>
    </article>
    <article class="grid_square">
      <div class='hex'>
        <div class='top'></div>
        <div class='square'></div>
        <div class='bottom'></div>
      </div>
    </article>
    <article class="grid_square">
      <div class='hex'>
        <div class='top'></div>
        <div class='square'></div>
        <div class='bottom'></div>
      </div>
    </article>
    <article class="grid_square">
      <div class='hex'>
        <div class='top'></div>
        <div class='square'></div>
        <div class='bottom'></div>
      </div>
    </article>
  </div>
</div>

<h1>Bottom</h1>

