<p id="notice"><%= notice %></p>

<p>
  <strong>Game status:</strong>
  <%= @match.game_status_id %> |

  <strong>User ID:</strong>
  <%= @match.user_id %> |

  <strong>Challenger ID:</strong>
  <%= @match.challenger_id %> |

  <%= link_to 'Edit', edit_match_path(@match) %> |
  <%= link_to 'Back', matches_path %>
</p>

<h1>Match</h1>

<%
   #Hexagon-triangle dimensions
   height = 30
   width = 52
   hypotenuse = 60
   hex_scale = 5.35

   green_hex = "<svg> <polygon points='
    #{width*hex_scale},0
    0,#{height*hex_scale}
    0,#{(height+hypotenuse)*hex_scale}
    #{width*hex_scale},#{(hypotenuse*2)*hex_scale}
    #{(width*2)*hex_scale},#{(height+hypotenuse)*hex_scale}
    #{(width*2)*hex_scale},#{(height)*hex_scale}'
    /> </svg>" %>

<%
robot = "<svg class='robot' xmlns='http://www.w3.org/2000/svg'>
  <rect height='20' width='40' rx='3' ry='3' fill='#B32317' />
  <circle cx='10' cy='10' r='5' fill='white'></circle>
  <circle cx='30' cy='10' r='5' fill='white'></circle>
  <circle cx='10' cy='10' r='2' fill='#B32317'></circle>
  <circle cx='30' cy='10' r='2' fill='#B32317'></circle>
</svg>" %>

<% array_11 = Array.new(11, @hexagon) %>
<% array_10 = Array.new(10, green_hex) %>
<% array_9 = Array.new(9, green_hex) %>
<% array_8 = Array.new(8, green_hex) %>
<% array_7 = Array.new(7, green_hex) %>
<% array_6 = Array.new(6, green_hex) %>

<div class="match">
  <article class="info">
    <p>
      This is where the info on pieces, and other info thats not on the board.
      <%= robot.html_safe %>
      This is where the info on pieces, and other info thats not on the board.
      This is where the info on pieces, and other info thats not on the board.
      This is where the info on pieces, and other info thats not on the board.
      This is where the info on pieces, and other info thats not on the board.
      This is where the info on pieces, and other info thats not on the board.
    </p>
  </article>

  <article class="map">
    <div class="grid grid-top grid-end">
      <% array_6.each do |square| %>
          <%= square.html_safe %>
      <% end %>
    </div>

    <div class='grid grid_odd'>
      <% array_7.each do |square| %>
          <%= square.html_safe %>
      <% end %>
    </div>

    <div class="grid grid_even">
      <% array_8.each do |square| %>
          <%= square.html_safe %>
      <% end %>
    </div>

    <div class="grid grid_odd">
      <% array_9.each do |square| %>
          <%= square.html_safe %>
      <% end %>
    </div>

    <div class="grid grid_even">
      <% array_10.each do |square| %>
          <%= square.html_safe %>
      <% end %>
    </div>

    <div class="grid grid_odd">
      <% array_11.each do |square| %>
          <%= square.html_safe %>
      <% end %>
    </div>

    <div class="grid grid_even">
      <% array_10.each do |square| %>
          <%= square.html_safe %>
      <% end %>
    </div>

    <div class="grid grid_odd">
      <% array_9.each do |square| %>
          <%= square.html_safe %>
      <% end %>
    </div>

    <div class="grid grid_even">
      <% array_8.each do |square| %>
          <%= square.html_safe %>
      <% end %>
    </div>

    <div class="grid grid_odd">
      <% array_7.each do |square| %>
          <%= square.html_safe %>
      <% end %>
    </div>

    <div class="grid grid-bottom grid-end">
      <% array_6.each do |square| %>
          <%= square.html_safe %>
      <% end %>
    </div>
  </article>
</div>