<p id="notice"><%= notice %></p>
<article class="matchHeading">


  <!--Match Header-->
  <p>
    <strong>Game status:</strong>
    <%= @match.game_status_id %> |

    <strong>User ID:</strong>
    <%= @match.user_id %> |

    <strong>Challenger ID:</strong>
    <%= @match.challenger_id %> |

    <%= link_to 'Edit', edit_match_path(@match) %> |
    <%= link_to 'Back', matches_path %>

  </p>

</article>


<div class="match">
  <article class="info">
    <div class="selectedPieceInformation">
      <h3 id="selectedUnitName"></h3>
      <%= image_tag "", :id => 'selectedUnitImage' %>
      <h6 id="selectedMovement" class="selectedAttributes"></h6>
      <h6 id="selectedStrength" class="selectedAttributes"></h6>
      <h6 id="selectedRange" class="selectedAttributes"></h6>
      <h6 id="selectedFlank" class="selectedAttributes"></h6>
      <h6 id="selected"></h6>
    </div>

    <div class="graveyard">

    </div>

    <% count = 1 %>
    <div class="auxSpace">
      <% @units.each do |branch| %>
          <% branch.each do |unit| %>
              <div class="sssquare" id="aux<%= count %>" data-team=1>
                <%= image_tag unit[:image], :class => unit[:class], :id => unit[:id], :data => unit[:data] %>
              </div>
              <% count += 1 %>
          <% end %>
      <% end %>

    </div>

  </article>

  <article class="map">

    <!--<button class="startGameButton">Start Game</button>-->
    <!--<button class="loadEnemiesButton">Load Enemies</button>-->
    <!--<button class="randomSetUpButton">Random Setup</button>-->
    <!--<button class="moveUnitButton">1 Turn</button>-->
    <!--<button class="fiveTurnsButton">5 Turns</button>-->
    <!--<button class="tenTurnsButton">10 Turns</button>-->

    <!--
    <% y_pos = 1 %>-->

    <!--
    <% @map.each do |row| %>-->
        <!--<div class="grid" data-y-pos=<%= y_pos %>>-->
        <!--
        <% row.each do |square| %>-->
            <!--<%= square.html_safe %>-->
            <!--
        <% end %>-->
        <!--</div>-->
        <!--
        <% y_pos += 1 %>-->
        <!--
    <% end %>-->

    <!--<div id="placeUnits"></div>-->

    <div class="enemyBay">
      <% @enemies.each do |branch| %>
          <% branch.each do |unit| %>
              <%= image_tag unit[:image], :class => unit[:class], :id => unit[:id], :data => unit[:data] %>
          <% end %>
      <% end %>
    </div>
  </article>
</div>

