<div class="navBar">

  <article class="root">
    <h3><%= link_to 'Cyvasse', root_path %></h3>
  </article>

  <article class="navOption">
    <h6><%= link_to 'About' %></h6>
  </article>
  <article class="navOption">
    <h6><%= link_to 'Contact' %></h6>
  </article>

  <article class="navLogin">
    <% if session[:user_id] == nil %>
        <h6><%= link_to 'Login', login_path %></h6>
    <% else %>
        <h6><%= link_to 'Logout', logout_path, method: :delete %></h6>
    <% end %>
  </article>
</div>
