<!DOCTYPE html>
<html>
<head>
  <title>Cyvasse.io,  Play the best digital version Cyvasse.</title>
  <meta name="description" content="The best digital version of Westeros and Essos favorite board game, Cyvasse!  Set up your army, and play against our computer or
   your friends.  Cyvasse is a fictitious board game played in George R. R. Martin's A Song of Ice and Fire, the book series Game of Thrones is based on.
   The game is first mentioned in A Feast for Crows, and is played in A Dance with Dragons by Tyrion and other character across Essos.">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'elephant.png' %>

  <%= csrf_meta_tags %>

  <script type="text/javascript">
      !function (a, b) {
          a("Keen", "https://d26b395fwzu5fz.cloudfront.net/3.1.0/keen.min.js", b)
      }(function (a, b, c) {
          var d, e, f;
          c["_" + a] = {}, c[a] = function (b) {
              c["_" + a].clients = c["_" + a].clients || {}, c["_" + a].clients[b.projectId] = this, this._config = b
          }, c[a].ready = function (b) {
              c["_" + a].ready = c["_" + a].ready || [], c["_" + a].ready.push(b)
          }, d = ["addEvent", "setGlobalProperties", "trackExternalLink", "on"];
          for (var g = 0; g < d.length; g++) {
              var h = d[g], i = function (a) {
                  return function () {
                      return this["_" + a] = this["_" + a] || [], this["_" + a].push(arguments), this
                  }
              };
              c[a].prototype[h] = i(h)
          }
          e = document.createElement("script"), e.async = !0, e.src = b, f = document.getElementsByTagName("script")[0], f.parentNode.insertBefore(e, f)
      }, this);
  </script>
</head>
<body class="essos">


<div class="wrapper">
  <section class="clearfix">
    <%= render 'layouts/navBar' %>
    <div class="theYeild">
      <%= yield %>
    </div>
    <%= render 'layouts/footerBar' %>


    <!--<FORM action="https://www.paypal.com/cgi-bin/webscr" method="post">-->
      <!--<INPUT TYPE="hidden" name="" value="allowedValue">-->
    <!--</FORM>-->


  </section>


</div>

</body>
</html>

